<% include ./partials/header %>
        
        <div class="Intro ui container">
            <img class="ui fluid image" src="https://cdn.doordash.com/media/restaurant/cover/Gaters.png">
            <h3>Our Restaurant</h3>
            <h2>Hello and Welcome to Gaters!</h2>
            <p>
                Our Tender Organic Halal meat is seasoned with Mediterranean spices and grilled to perfection on open flame. 
                It is then topped with gourmet sauce and wrapped in Mediterranean thin bread which provides exquisite taste for all to enjoy. 
                We prepare our food daily from the greatest organic vegetables to ensure good tasting healthy meals. Inherited secret family 
                recipes have been our passed own for generations in order to provide the most authentic Mediterranean dishes. 
                The unique mix of Mediterranean, Turkish, Arabic and Greek homemade cooking has made GATERS the ultimate eating experience for the last 15 years.
            </p>
        </div>
        <div class="ui container">
            <h3>Recommended</h3>
            
        </div>
        
<% include ./partials/footer %>