<!DOCTYPE html>
<html>
    <head>
        <title>Gaters Restaurant</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    </head>
    <body>
        <div class="ui fixed menu">
            <div class="ui container">
                <a class="header item">Gaters Restaurant</a>
                <a class="item">Menu</a>
                <a class="item">Catering</a>
                <a class="item">Contact Us</a>
                <div class="right menu">
                    <a class="item"><i class="instagram icon"></i></a>
                </div> <!-- End of Right side menu -->
            </div> <!-- End of Container -->
        </div> <!-- End of Menu -->