<% include partials/header.ejs %>

<h1>This is the home page!</h1>

<img src="https://upload.wikimedia.org/wikipedia/commons/2/26/YellowLabradorLooking_new.jpg"></img>

<% include partials/footer.ejs %>